<div class="background-image text-center text-white py-5" 
  style="background: url('assets/images/EventManager_Background.jpg') center/cover no-repeat; 
         background-color: rgba(111,43,124,0.6); 
         background-blend-mode: multiply;">
  <div class="banner d-flex flex-column justify-content-end align-items-center text-center text-white">
    <div class="d-flex justify-content-center">
      <div class="me-3">
        <button class="btn btn-secondary" routerLink="/login">Login</button>
      </div>
      <div class="ms-3">
        <button class="btn btn-primary">Participate</button>
      </div>
    </div>
  </div>
</div>



