.spacer {
      height: 15vh;
}
.page-bg {
      background-color: #f5f6fa;
    }
    
   
    .event-card {
      max-width: 450px;
      width: 100%;
    }
    
   
    .btn-block {
      display: block;
      width: 100%;
    }